@page "/dynamic-layout"

<LayoutView Layout="LayoutType">
    <h3>DynamicLayout</h3>
    <button type="button" class="layout-selector" @onclick="() => LayoutType = typeof(DarkLayout)">Dark Layout</button>
    <button type="button" class="layout-selector" @onclick="() => LayoutType = typeof(LightLayout)">Light Layout</button>
</LayoutView>

@code {
    public Type LayoutType { get; set; } = typeof(DarkLayout);
}
